<div style="position:relative;width:52%" ng-style="{height: (ctrl.solution == null) ? '90px' : '140px'}" class="text-right">
    <table style="right:0px;position:absolute">
        <tr ng-repeat="number in ctrl.numbers track by $index">
            <td class="h1" ng-if="$index == 0"></td>
            <td ng-style="{'border-bottom': ($index == ctrl.numbers.length - 1) ? 'solid 3px' : ''}" class="h1" ng-if="$index > 0">{{::ctrl.getOperateur()}}</td>
            <td ng-style="{'border-bottom': ($index == ctrl.numbers.length - 1) ? 'solid 3px' : ''}" class="h1">{{number.getValue()}}</td>
        </tr>
        <tr ng-if="ctrl.solution != null">
            <td colspan="2" class="h1">
                {{::ctrl.solution}}
            </td>
        </tr>
    </table>
    <div style="display:none" ng-transclude></div>
</div>
<div class="text-center">
    <form class="form-inline" ng-submit="ctrl.submit()" autocomplete="off">
        <div class="form-group has-feedback" ng-class="(ctrl.resultat == 1) ? 'has-success' : (ctrl.resultat == -1) ? 'has-error' : ''">
            <input style="width:100px" class="form-control" type="tel" ng-model="ctrl.reponse" name="reponse" id="reponse" />
            <span ng-if="ctrl.resultat != 0" class="glyphicon form-control-feedback" ng-class="(ctrl.resultat == 1) ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
        </div>
    </form>
</div>

<div class="text-center">
    <sdo-num-pad></sdo-num-pad>
</div>